<h1>Просмотр вопроса из теста '<%= @test.title %>':</h1>

<% if @question %>
  <p><%= @question.title %></p>
<% else %>
  <p>Вопроса с таким идентификатором для данного теста не существует</p>
<% end %>
