<h1>Просмотр вопроса из теста '<%= @question.test.title %>':</h1>

<p>Title: <%= @question.title %></p>
<p>Body: <%= @question.body %></p>


<%= link_to "Вернуться к вопросам теста", test_questions_url(@question.test_id) %>
