<hr>
<hr>
<% repo = 'test-guru' %>
<p>
  <%= current_year %>,
  Александр, 
  <%= link_to repo,
    github_url('kshnyakin', repo),
    target: "_blank",
    rel: 'nofollow'
  %>
</p>
<p>
  Проект реализует возможность создания тестов с вопросами 
  по определенным категориям.<br>
  Управление прохождением пользователем тестов.<br>
  Оценка прохождения тестов и результаты.<br>
</p>
<p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 
    'https://thinknetica.com', 
    target: "_blank", 
    rel: 'nofollow'
  %>
</p>