<table border="1">
  <tr>
    <th><%= t('.title') %></td>
    <th><%= t('.body') %></td>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>
  <%= render partial: 'admin/questions/question', collection: questions %>
</table>
