<h3>Список тестов, доступных в системе:</h3>

<% if @tests.present? %>
  <table border="1">
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Questions size</th>
      <th>Actions</th>
    </tr>
  <%= render @tests %>
  </table>
<% else %>
  <p>В настоящий момент в системе не создано ни одного теста</p>
<% end %>
