<h1>Список тестов внутри системы:</h1>

<% if @tests.size < 1 %>
  <p>Тестов еще не создано</div>
<% else %>
  <table border="1">
    <tr>
      <th>Название</td>
      <th>Категория</td>
      <th>Количество вопросов</td>
      <th colspan='2'>Действия</th>
    </tr>
    <%= render @tests %>
  </table>
<% end %>
