<h1>Добро пожаловать в приложение Test-Guru!</h1>
<h2>Список тестов, доступных в системе:</h2>

<% if @tests.present? %>
  <table border="1">
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Questions size</th>
      <th colspan='4'>Actions</th>
    </tr>
  <%= render @tests %>
  </table>
<% else %>
<% end %>
<p>В настоящий момент в системе не создано ни одного теста</p>
<%= link_to 'Create new test', new_test_path %>
