<h1> Информация о разработчике проекта </h1
<p>
  <ul>
    <li>Разработчик: Александр Кшнякин</li>
    <li>ссылка на репозиторий в <a href="https://github.com/kshnyakin">github</a></li>
</p>
<p>Вам может быть также интересно: <%= link_to 'Информация о проекте', info_about_path %></p>