<h1> Проект Test-Guru about</h1
<p>
  Направлен на создание системы, позволяющей составлять тестовые задания, формировать их них группы тестов, 
  регистрировать участников, проверять результаты.
</p>
<p>Проект создан при участии онлайн-школы <a href="https://www.thinknetica.com">Thinknetica</a></p>
<p>Вам может быть также интересно: <%= link_to 'Информация обавторе проекта', info_about_author_path %></p>